.toolbox-item {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  text-align: center;
  cursor: pointer;
}

img {
  width: 28px;
}

.selected {
  background-color: grey;
}

::ng-deep .card{
  width: 500px;
  img{
    width: 200px;
    margin-bottom: 15px;
  }
}
